.about-test{
    text-align: center;
    padding-top: 50px;
    color: rgb(246, 250, 253);
}
.about-test{
    background-color:#075999;
    height: 150px;
  }
  .container-about{
    padding-top: 5px;
  }